@model ClinicalKnowledgeManager.ViewModels.SubTopicDetail

@*@if (Model.IsOnlyItemDisplayed)
{
    @Html.ActionLink("View full topic", "Details", "Topics", new { id = Model.SubTopic.ParentId }, null)
}*@

<div class="subTopicContainer @(Model.IsContextItem ? "contextItem" : "")" id="subTopic-@Model.SubTopic.Id">
    <div class="subTopicName @(Model.IsContextItem ? "contextItem" : "")" data-subtopic-id="@Model.SubTopic.Id">
        @Html.Raw(string.Format("<h{1}>{0}</h{1}>", Html.DisplayFor(modelItem => Model.SubTopic.Name), Model.Level))
    </div>
    
    <div class="subTopicContent @(Model.IsContextItem ? "contextItem" : "nonContextItem")" id="subTopicContent-@Model.SubTopic.Id">
        @foreach (var content in Model.Contents){
            <div>
                @Html.Raw(content)
            </div>
        }

        @if (Model.SubTopics != null) { 
            foreach (var subTopic in Model.SubTopics) {
                @Html.Partial("~/Views/SubTopics/Details.cshtml", subTopic)
            }
        }
    </div>
</div>